*{
    margin:0;
    padding: 0;
}
.form{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(hinata.jpg);
    background-position: center;
    background-size:cover;
    position:absolute;
}
.box{
    width: 380px;
    height: 480px;
    position:relative;
    margin:80px auto;
    background:#f5dbf3;
    padding:30px;
    overflow: hidden;
}
.button{
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow:0 0 10px 5px wheat;
    border-radius: 25px;
}
.page{
    position: relative;
    background:transparent;
    cursor:pointer;
    padding: 10px 30px;
    outline:none;
    border: 0;
    overflow: hidden;
}
#color{
    left: 0;
    right: 0;
    height: 110%;
    width: 100px;
    position: absolute;
    border-radius: 30px;
    background-color: aqua;
    transition: .5s;
}
.icon{
    margin: 30px auto;
    text-align: center;
}
.icon img{
    width:30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 wheat;
    cursor: pointer;
    border-radius: 50%;
}
.form-1{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid burlywood;
    outline: none;
    background: transparent;
}
.submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display:block;
    margin: auto;
    background:aqua;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color: black;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}